step - maps a unit of time in the real world. In this case 1 step is 1 hour of time. Total steps 744 (30 days simulation).

type - CASH-IN, CASH-OUT, DEBIT, PAYMENT and TRANSFER.

amount - amount of the transaction in local currency.

nameOrig - customer who started the transaction

oldbalanceOrg - initial balance before the transaction

newbalanceOrig - new balance after the transaction

nameDest - customer who is the recipient of the transaction

oldbalanceDest - initial balance recipient before the transaction. Note that there is not information for customers that start with M (Merchants).

newbalanceDest - new balance recipient after the transaction. Note that there is not information for customers that start with M (Merchants).

isFraud - This is the transactions made by the fraudulent agents inside the simulation. In this specific dataset the fraudulent behavior of the agents aims to profit by taking control or customers accounts and try to empty the funds by transferring to another account and then cashing out of the system.

isFlaggedFraud - The business model aims to control massive transfers from one account to another and flags illegal attempts. An illegal attempt in this dataset is an attempt to transfer more than 200.000 in a single transaction.

https://www.kaggle.com/arjunjoshua/predicting-fraud-in-financial-payment-services

In [8]:
# import csv
import pandas as pd
#data = pd.read_csv("PS_20174392719_1491204439457_log.csv", nrows=10)
rawdata = pd.read_csv("PS_20174392719_1491204439457_log.csv")
rawdata.head()

# def preprocess(input_file, output_file, keep=1):
#     all_rows = []
#     with open(input_file, 'r') as csvinfile:
#         csv_reader = csv.reader(csvinfile, delimiter=',')
#         for row in csv_reader:
#             all_rows.append(row)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [9]:
df = pd.DataFrame(data=rawdata)

In [10]:
df.columns

Index(['step', 'type', 'amount', 'nameOrig', 'oldbalanceOrg', 'newbalanceOrig',
       'nameDest', 'oldbalanceDest', 'newbalanceDest', 'isFraud',
       'isFlaggedFraud'],
      dtype='object')

In [11]:
df.shape

(6362620, 11)

In [12]:
df_w_dummies=pd.get_dummies(df, columns=['type'])

In [13]:
df_w_dummies_removed = df_w_dummies.drop(['nameOrig', 'nameDest', 'isFlaggedFraud'], axis=1)
df_w_dummies_removed.head()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,type_CASH_IN,type_CASH_OUT,type_DEBIT,type_PAYMENT,type_TRANSFER
0,1,9839.64,170136.0,160296.36,0.0,0.0,0,0,0,0,1,0
1,1,1864.28,21249.0,19384.72,0.0,0.0,0,0,0,0,1,0
2,1,181.00,181.0,0.00,0.0,0.0,1,0,0,0,0,1
3,1,181.00,181.0,0.00,21182.0,0.0,1,0,1,0,0,0
4,1,11668.14,41554.0,29885.86,0.0,0.0,0,0,0,0,1,0

In [14]:
from sklearn import preprocessing
scaler = preprocessing.MinMaxScaler(feature_range=(0, 1), copy=True)
scaled_df = scaler.fit_transform(df_w_dummies_removed)
# scaled_df_1 = pd.DataFrame(scaled_df, columns=['amount','oldbalanceOrg','newbalanceOrig','oldbalanceDest','newbalanceDest'], copy=True)
scaled_df_1 = pd.DataFrame(scaled_df)
# # scaled_df = preprocessing.MinMaxScaler(feature_range=(0, 1), copy=True)
scaled_df_1.head()

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/preprocessing/data.py:334: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.0,0.000106,0.002855,0.003233,0.000000,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.000020,0.000357,0.000391,0.000000,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.000002,0.000003,0.000000,0.000000,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,0.0,0.000002,0.000003,0.000000,0.000059,0.0,1.0,0.0,1.0,0.0,0.0,0.0
4,0.0,0.000126,0.000697,0.000603,0.000000,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [ ]:
START THE MODEL STEP

In [15]:
final_df= scaled_df_1
final_df.head()
Y = final_df[6]
Y.head()
X = final_df.drop([6], axis=1)
X.head()

    0         1         2         3         4    5    7    8    9    10   11
0  0.0  0.000106  0.002855  0.003233  0.000000  0.0  0.0  0.0  0.0  1.0  0.0
1  0.0  0.000020  0.000357  0.000391  0.000000  0.0  0.0  0.0  0.0  1.0  0.0
2  0.0  0.000002  0.000003  0.000000  0.000000  0.0  0.0  0.0  0.0  0.0  1.0
3  0.0  0.000002  0.000003  0.000000  0.000059  0.0  0.0  1.0  0.0  0.0  0.0
4  0.0  0.000126  0.000697  0.000603  0.000000  0.0  0.0  0.0  0.0  1.0  0.0

In [16]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=1)
# train_set, validation_set = train_test_split(train_set, test_size=0.1, random_state=1)

In [ ]:
import xgboost as xgb

gbm = xgb.XGBClassifier(max_depth=3, n_estimators=300, learning_rate=0.05).fit(X_train, Y_train)
predictions = gbm.predict(Y_test)

[19:37:08] WARNING: /workspace/src/learner.cc:686: Tree method is automatically selected to be 'approx' for faster speed. To use old behavior (exact greedy algorithm on single machine), set tree_method to 'exact'.

               0         1         2         3         4         5    6    7   \
6322570  0.925876  0.000255  0.000135  0.000638  0.000476  0.000410  0.0  1.0
3621196  0.367925  0.000067  0.000000  0.000000  0.000000  0.000000  0.0  0.0
1226256  0.177898  0.000368  0.000315  0.000000  0.000000  0.000000  0.0  0.0
2803274  0.301887  0.002845  0.000337  0.000000  0.001096  0.001834  0.0  0.0
3201247  0.334232  0.001644  0.000348  0.000000  0.000710  0.001136  0.0  0.0
3681019  0.370620  0.000031  0.000000  0.000000  0.000000  0.000000  0.0  0.0
1351584  0.183288  0.003644  0.003379  0.000000  0.000058  0.001004  0.0  0.0
5422829  0.508086  0.005627  0.000000  0.000000  0.001517  0.002977  0.0  0.0
5870912  0.541779  0.000554  0.138939  0.167991  0.001694  0.001549  0.0  1.0
2400263  0.270889  0.007961  0.000149  0.000000  0.000000  0.002066  0.0  0.0
5515385  0.510782  0.001218  0.000000  0.000000  0.000425  0.000741  0.0  0.0
4826317  0.464960  0.001073  0.000374  0.000000  0.000000  0.000279  0.0  0.0
2635402  0.280323  0.003479  0.110954  0.139817  0.003099  0.002195  0.0  1.0
2984544  0.309973  0.004417  0.000017  0.008255  0.003926  0.002778  0.0  1.0
4049948  0.402965  0.000248  0.002574  0.002631  0.000000  0.000000  0.0  0.0
283498   0.018868  0.001643  0.004524  0.002373  0.000982  0.001408  0.0  0.0
299855   0.018868  0.000112  0.000861  0.000826  0.000000  0.000000  0.0  0.0
2924974  0.307278  0.000322  0.000003  0.000000  0.000000  0.000000  0.0  0.0
1230984  0.177898  0.001949  0.000948  0.000000  0.000724  0.001230  0.0  0.0
3430796  0.343666  0.000105  0.001534  0.001647  0.000000  0.000000  0.0  0.0
1755385  0.215633  0.000084  0.000036  0.000000  0.000000  0.000000  0.0  0.0
3510600  0.347709  0.000041  0.001937  0.002251  0.000000  0.000000  0.0  0.0
1104832  0.173854  0.000034  0.000353  0.000361  0.000000  0.000000  0.0  0.0
4714526  0.446092  0.000152  0.003448  0.003860  0.000000  0.000000  0.0  0.0
3424982  0.343666  0.000569  0.000209  0.000000  0.005452  0.005597  0.0  0.0
4405691  0.431267  0.000007  0.000000  0.000000  0.000764  0.000765  0.0  0.0
1689002  0.212938  0.000325  0.056792  0.068852  0.000412  0.000328  0.0  1.0
5733885  0.536388  0.000189  0.000393  0.000120  0.000000  0.000000  0.0  0.0
3270517  0.336927  0.000601  0.110877  0.134358  0.000669  0.000513  0.0  1.0
5015424  0.474394  0.005695  0.000000  0.000000  0.006466  0.007941  0.0  0.0
...           ...       ...       ...       ...       ...       ...  ...  ...
3734372  0.373315  0.000146  0.000336  0.000131  0.000000  0.000000  0.0  0.0
2402996  0.270889  0.013978  0.000000  0.000000  0.003861  0.007487  0.0  0.0
201520   0.016173  0.000117  0.001703  0.001828  0.000000  0.000000  0.0  0.0
393996   0.022911  0.001651  0.000434  0.000000  0.000000  0.000429  0.0  0.0
1573479  0.207547  0.000480  0.000258  0.000000  0.000000  0.000000  0.0  0.0
1090194  0.172507  0.001119  0.000000  0.000000  0.001065  0.001355  0.0  0.0
1818631  0.218329  0.000798  0.121355  0.147318  0.000896  0.000688  0.0  1.0
1573281  0.207547  0.004135  0.193675  0.240443  0.004903  0.003828  0.0  1.0
6122288  0.726415  0.008737  0.000856  0.000000  0.000408  0.002675  0.0  0.0
6101421  0.704852  0.000501  0.000537  0.000000  0.000000  0.000000  0.0  0.0
946892   0.057951  0.001742  0.000000  0.000000  0.005595  0.006125  0.0  0.0
2150298  0.246631  0.000162  0.000037  0.000000  0.001664  0.001705  0.0  0.0
690936   0.047170  0.000710  0.000432  0.000000  0.000000  0.000000  0.0  0.0
5200396  0.495957  0.001597  0.000000  0.000000  0.000566  0.000980  0.0  0.0
2128634  0.245283  0.001615  0.000000  0.000000  0.000470  0.000889  0.0  0.0
5663920  0.532345  0.001539  0.000372  0.003317  0.000683  0.000284  0.0  1.0
1483442  0.188679  0.000010  0.000109  0.000111  0.000000  0.000000  0.0  0.0
4031309  0.401617  0.001082  0.000000  0.000000  0.027680  0.027948  0.0  0.0
5915365  0.543127  0.001547  0.000535  0.000000  0.003265  0.003665  0.0  0.0
3943091  0.384097  0.000004  0.001791  0.002146  0.000000  0.000000  0.0  0.0
3709292  0.371968  0.000885  0.007396  0.010538  0.000473  0.000243  0.0  1.0
948271   0.057951  0.000004  0.000185  0.000214  0.000000  0.000001  0.0  0.0
4588314  0.440701  0.003794  0.000000  0.000000  0.028292  0.029264  0.0  0.0
718660   0.048518  0.000055  0.003375  0.003952  0.000000  0.000000  0.0  0.0
743269   0.049865  0.002157  0.091444  0.113908  0.007932  0.007368  0.0  1.0
2915604  0.307278  0.001377  0.005840  0.009584  0.000241  0.000000  0.0  1.0
6168411  0.742588  0.002481  0.171571  0.210798  0.043610  0.042946  0.0  1.0
970319   0.057951  0.003827  0.000000  0.000000  0.001690  0.002682  0.0  0.0
1329756  0.183288  0.000407  0.006056  0.006517  0.000000  0.000000  0.0  0.0
6209813  0.791105  0.000007  0.000000  0.000000  0.000000  0.000000  0.0  0.0

          8    9    10   11
6322570  0.0  0.0  0.0  0.0
3621196  0.0  0.0  1.0  0.0
1226256  0.0  0.0  1.0  0.0
2803274  1.0  0.0  0.0  0.0
3201247  1.0  0.0  0.0  0.0
3681019  0.0  0.0  1.0  0.0
1351584  1.0  0.0  0.0  0.0
5422829  1.0  0.0  0.0  0.0
5870912  0.0  0.0  0.0  0.0
2400263  0.0  0.0  0.0  1.0
5515385  1.0  0.0  0.0  0.0
4826317  1.0  0.0  0.0  0.0
2635402  0.0  0.0  0.0  0.0
2984544  0.0  0.0  0.0  0.0
4049948  0.0  0.0  1.0  0.0
283498   0.0  0.0  0.0  1.0
299855   0.0  0.0  1.0  0.0
2924974  0.0  0.0  1.0  0.0
1230984  1.0  0.0  0.0  0.0
3430796  0.0  0.0  1.0  0.0
1755385  0.0  0.0  1.0  0.0
3510600  0.0  0.0  1.0  0.0
1104832  0.0  0.0  1.0  0.0
4714526  0.0  0.0  1.0  0.0
3424982  1.0  0.0  0.0  0.0
4405691  1.0  0.0  0.0  0.0
1689002  0.0  0.0  0.0  0.0
5733885  0.0  0.0  1.0  0.0
3270517  0.0  0.0  0.0  0.0
5015424  1.0  0.0  0.0  0.0
...      ...  ...  ...  ...
3734372  0.0  0.0  1.0  0.0
2402996  0.0  0.0  0.0  1.0
201520   0.0  0.0  1.0  0.0
393996   1.0  0.0  0.0  0.0
1573479  0.0  0.0  1.0  0.0
1090194  0.0  0.0  0.0  1.0
1818631  0.0  0.0  0.0  0.0
1573281  0.0  0.0  0.0  0.0
6122288  0.0  0.0  0.0  1.0
6101421  0.0  0.0  1.0  0.0
946892   0.0  0.0  0.0  1.0
2150298  1.0  0.0  0.0  0.0
690936   0.0  0.0  1.0  0.0
5200396  0.0  0.0  0.0  1.0
2128634  1.0  0.0  0.0  0.0
5663920  0.0  0.0  0.0  0.0
1483442  0.0  0.0  1.0  0.0
4031309  1.0  0.0  0.0  0.0
5915365  1.0  0.0  0.0  0.0
3943091  0.0  0.0  1.0  0.0
3709292  0.0  0.0  0.0  0.0
948271   1.0  0.0  0.0  0.0
4588314  0.0  0.0  0.0  1.0
718660   0.0  0.0  1.0  0.0
743269   0.0  0.0  0.0  0.0
2915604  0.0  0.0  0.0  0.0
6168411  0.0  0.0  0.0  0.0
970319   1.0  0.0  0.0  0.0
1329756  0.0  0.0  1.0  0.0
6209813  0.0  0.0  1.0  0.0

[1272524 rows x 12 columns]

               0         1         2         3         4         5    6    7   \
2666972  0.281671  0.001463  0.000003  0.000000  0.004746  0.005124  0.0  0.0
3929645  0.382749  0.001381  0.000101  0.000000  0.006940  0.007295  0.0  0.0
2366292  0.254717  0.000074  0.001709  0.001915  0.000000  0.000000  0.0  0.0
3068612  0.315364  0.000030  0.000019  0.000000  0.000000  0.000000  0.0  0.0
1856732  0.219677  0.002049  0.006658  0.011820  0.000077  0.000000  0.0  1.0
5907255  0.543127  0.001465  0.000000  0.000000  0.002792  0.003171  0.0  0.0
3113951  0.316712  0.000362  0.000000  0.000000  0.002612  0.002705  0.0  0.0
1089179  0.172507  0.003593  0.000000  0.000000  0.005757  0.006687  0.0  0.0
2370842  0.256065  0.000008  0.000220  0.000249  0.000000  0.000000  0.0  0.0
1416431  0.185984  0.001261  0.004082  0.002554  0.002454  0.005204  0.0  0.0
6312795  0.923181  0.001834  0.000000  0.000000  0.020789  0.021255  0.0  0.0
3312993  0.338275  0.000353  0.000097  0.000000  0.008071  0.008159  0.0  0.0
2481112  0.273585  0.001061  0.000000  0.000000  0.019808  0.020075  0.0  0.0
3114189  0.316712  0.000637  0.000000  0.000000  0.002253  0.002417  0.0  0.0
888861   0.055256  0.002188  0.023934  0.032840  0.001384  0.000815  0.0  1.0
3245045  0.335580  0.000283  0.000000  0.000000  0.001752  0.001825  0.0  0.0
211742   0.016173  0.004145  0.000000  0.000000  0.004906  0.005979  0.0  0.0
5901825  0.541779  0.000098  0.000011  0.000000  0.000474  0.000499  0.0  0.0
5109325  0.477089  0.001612  0.000000  0.000000  0.000453  0.000871  0.0  0.0
2479596  0.273585  0.000548  0.046425  0.056809  0.000643  0.000501  0.0  1.0
1000048  0.059299  0.000051  0.002190  0.002537  0.000000  0.000000  0.0  0.0
6240222  0.800539  0.000139  0.002240  0.002433  0.000000  0.000000  0.0  0.0
1632425  0.210243  0.002624  0.000564  0.000000  0.012117  0.012792  0.0  0.0
918217   0.056604  0.000853  0.000000  0.000000  0.001279  0.000537  0.0  0.0
1655233  0.211590  0.000041  0.000318  0.000305  0.000000  0.000000  0.0  0.0
1077821  0.172507  0.001121  0.000862  0.003126  0.000000  0.000000  0.0  1.0
6115645  0.708895  0.000148  0.000000  0.000000  0.000000  0.000000  0.0  0.0
663475   0.047170  0.001048  0.000000  0.000000  0.001057  0.001329  0.0  0.0
4580797  0.440701  0.108172  0.000127  0.000000  0.000216  0.039682  0.0  0.0
5197514  0.495957  0.001354  0.099160  0.121682  0.046571  0.046198  0.0  1.0
...           ...       ...       ...       ...       ...       ...  ...  ...
204608   0.016173  0.003038  0.299871  0.366012  0.005314  0.004523  0.0  1.0
1181203  0.176550  0.000160  0.000000  0.000000  0.000000  0.000000  0.0  0.0
972292   0.057951  0.002488  0.000007  0.000000  0.010010  0.010651  0.0  0.0
3447226  0.345013  0.002278  0.002172  0.000000  0.000792  0.001383  0.0  0.0
127031   0.013477  0.004432  0.000831  0.000000  0.000025  0.002680  0.0  0.0
3250061  0.336927  0.002947  0.045774  0.060500  0.001384  0.000619  0.0  1.0
6276268  0.857143  0.000291  0.000194  0.000000  0.000000  0.000000  0.0  0.0
5233442  0.498652  0.001730  0.000000  0.000000  0.000575  0.001024  0.0  0.0
244319   0.017520  0.001541  0.018813  0.025480  0.005300  0.006236  0.0  1.0
3999200  0.400270  0.001646  0.069476  0.086556  0.000527  0.000099  0.0  1.0
4993258  0.473046  0.001635  0.000000  0.000000  0.009825  0.010245  0.0  0.0
1248043  0.179245  0.004892  0.000000  0.000000  0.074499  0.075734  0.0  0.0
4524033  0.438005  0.000254  0.006697  0.007575  0.000000  0.000000  0.0  0.0
717973   0.048518  0.000349  0.074123  0.089722  0.000195  0.000104  0.0  1.0
2102047  0.243935  0.003023  0.001210  0.007091  0.000000  0.000000  0.0  1.0
2672887  0.281671  0.000022  0.000864  0.000999  0.000000  0.000000  0.0  0.0
753551   0.049865  0.000135  0.004965  0.005715  0.000000  0.000000  0.0  0.0
4791275  0.463612  0.000110  0.000195  0.000029  0.000000  0.000000  0.0  0.0
732715   0.048518  0.005640  0.077881  0.104103  0.010200  0.008731  0.0  1.0
3609120  0.355795  0.000092  0.000528  0.000463  0.000000  0.000000  0.0  0.0
2340755  0.253369  0.002561  0.000211  0.005028  0.000000  0.000000  0.0  1.0
2297202  0.252022  0.000185  0.000280  0.000000  0.001645  0.001692  0.0  0.0
7906     0.008086  0.000398  0.064264  0.077965  0.000280  0.000177  0.0  1.0
2704011  0.283019  0.002556  0.015056  0.022858  0.001870  0.001206  0.0  1.0
1790351  0.216981  0.009919  0.001937  0.000000  0.009670  0.012240  0.0  0.0
1168139  0.176550  0.003945  0.000539  0.000000  0.000140  0.001164  0.0  0.0
5381608  0.505391  0.010251  0.000000  0.000000  0.028089  0.030736  0.0  0.0
1998250  0.239892  0.000131  0.001698  0.001797  0.000000  0.000000  0.0  0.0
5673360  0.533693  0.000165  0.000000  0.000000  0.004251  0.004292  0.0  0.0
1894471  0.221024  0.005011  0.000190  0.000000  0.004038  0.005337  0.0  0.0

          8    9    10   11
2666972  1.0  0.0  0.0  0.0
3929645  1.0  0.0  0.0  0.0
2366292  0.0  0.0  1.0  0.0
3068612  0.0  0.0  1.0  0.0
1856732  0.0  0.0  0.0  0.0
5907255  1.0  0.0  0.0  0.0
3113951  1.0  0.0  0.0  0.0
1089179  1.0  0.0  0.0  0.0
2370842  0.0  0.0  1.0  0.0
1416431  1.0  0.0  0.0  0.0
6312795  1.0  0.0  0.0  0.0
3312993  1.0  0.0  0.0  0.0
2481112  1.0  0.0  0.0  0.0
3114189  1.0  0.0  0.0  0.0
888861   0.0  0.0  0.0  0.0
3245045  1.0  0.0  0.0  0.0
211742   1.0  0.0  0.0  0.0
5901825  1.0  0.0  0.0  0.0
5109325  1.0  0.0  0.0  0.0
2479596  0.0  0.0  0.0  0.0
1000048  0.0  0.0  1.0  0.0
6240222  0.0  0.0  1.0  0.0
1632425  1.0  0.0  0.0  0.0
918217   1.0  0.0  0.0  0.0
1655233  0.0  0.0  1.0  0.0
1077821  0.0  0.0  0.0  0.0
6115645  0.0  0.0  1.0  0.0
663475   1.0  0.0  0.0  0.0
4580797  0.0  0.0  0.0  1.0
5197514  0.0  0.0  0.0  0.0
...      ...  ...  ...  ...
204608   0.0  0.0  0.0  0.0
1181203  0.0  0.0  1.0  0.0
972292   1.0  0.0  0.0  0.0
3447226  1.0  0.0  0.0  0.0
127031   1.0  0.0  0.0  0.0
3250061  0.0  0.0  0.0  0.0
6276268  0.0  0.0  1.0  0.0
5233442  1.0  0.0  0.0  0.0
244319   0.0  0.0  0.0  0.0
3999200  0.0  0.0  0.0  0.0
4993258  1.0  0.0  0.0  0.0
1248043  1.0  0.0  0.0  0.0
4524033  0.0  0.0  1.0  0.0
717973   0.0  0.0  0.0  0.0
2102047  0.0  0.0  0.0  0.0
2672887  0.0  0.0  1.0  0.0
753551   0.0  0.0  1.0  0.0
4791275  0.0  0.0  1.0  0.0
732715   0.0  0.0  0.0  0.0
3609120  0.0  0.0  1.0  0.0
2340755  0.0  0.0  0.0  0.0
2297202  1.0  0.0  0.0  0.0
7906     0.0  0.0  0.0  0.0
2704011  0.0  0.0  0.0  0.0
1790351  0.0  0.0  0.0  1.0
1168139  1.0  0.0  0.0  0.0
5381608  0.0  0.0  0.0  1.0
1998250  0.0  0.0  1.0  0.0
5673360  1.0  0.0  0.0  0.0
1894471  0.0  0.0  0.0  1.0

[509010 rows x 12 columns]